.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 110px;
    margin-bottom: 100px;
}

.about .up {
    display: flex;
    gap: 55px;
    width: 62%;
    align-items: center;
}

.about .up .title {
    color: #2D2D2D;
}

.highlight {
    text-decoration: 6px underline #ADC651;
}

.about .up .description {
    color: #4E5D78;
    font-weight: 300;
}