.hero {
    margin-top: 63px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
}

.hero .heading {
    font-size: 52px;
    color: #2D2D2D;
}

.hero p {
    font-size: 19px;
    color: #4E5D78;
    font-weight: 300;
}

.underline {
    text-decoration: underline;
}

.hero img {
    width: 700px;
}

.token-id {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: #4E5D78;
}